<!DOCTYPE html>
<html>

<head>
    <title>Internet GIS Final Project</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!--Scripts-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <script src="https://raw.githubusercontent.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>
    <!--turf.js-->
    <!-- <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script> -->
    <!--chloropleth plugin directory-->
    <script src="/leaflet/choropleth.js"></script>
    <!--google maps cdn-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADa6LjReUHzt5LTTqHC_SZ4QmWlpgYf3s&callback=initMap">
    </script>
    <!--require script-->
    <!-- <script src=" https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/Shops.js"></script>
    <!--Police stations data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/polPoints.js"></script>
    <!--Pools data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/Pools.js"></script>
    <!--Rec Hubs data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/RecHubs.js"></script>
    <!--sport grounds data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/sportsGrounds.js"></script>
    <!--abductions data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/abductions.js"></script>
    <!--Sexual crime data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/sexualcrime.js"></script>
    <!--Robberies data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/robbery.js"></script>
    <!--Crime rate data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/crimerate.js"></script>
    <!--Rape data-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/Rape.js"></script>
    <!--Assault-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/Assault.js"></script>
    <!--All crime points-->
    <script type="text/javascript" src="../../gbv-lifeline/src/assets/jsonLayers/allcrime.js"></script>
    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--toggle heading style-->
    <style>
        h2 {
          position: absolute;
          left: 200px;
          top: 100px;
        }
        </style>

    <!--toggle style-->
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-left: 90%;

        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    </style>


</head>
<!--Map style-->
<style>
    #mapid {

        height: 600px
    }
</style>

<!--Map body-->

<body>

    <div>
        <!-- <h2>Layers</h2> -->

        <label class="switch">
            <input onclick="toggleShop()" type="checkbox">
            <span class="slider"></span>
        </label>

        <label class="switch">
            <input onclick="togglePolice()" type="checkbox">
            <span class="slider"></span>
        </label>

        <label class="switch">
            <input onclick="togglePools()" type="checkbox">
            <span class="slider"></span>
        </label>

        <label class="switch">
            <input onclick="toggleRecHubs()" type="checkbox">
            <span class="slider"></span>
        </label>

        <label class="switch">
            <input onclick="toggleSportsGrounds()" type="checkbox">
            <span class="slider"></span>
        </label>
        <label class="switch">
            <input onclick="toggleAbductions()" type="checkbox">
            <span class="slider"></span>
        </label>
        <label class="switch">
            <input onclick="toggleSexualCrime()" type="checkbox">
            <span class="slider"></span>
        </label>
        <label class="switch">
            <input onclick="toggleRobberies()" type="checkbox">
            <span class="slider"></span>
        </label>
        <label class="switch">
            <input onclick="toggleRape()" type="checkbox">
            <span class="slider"></span>
        </label>
        <!-- <label class="switch">
            <input onclick="toggleAllCrime()" type="checkbox">
            <span class="slider"></span>
        </label> -->
        <label class="switch">
            <input onclick="toggleCrimeRate()" type="checkbox">
            <span class="slider"></span>
        </label>

    </div>

    <div id="mapid"></div>

    <script type="text/javascript">
        //let PolPoints = require("D:/INTERNET GIS FINAL PROJECT/gbv-lifeline/src/assets/jsonLayers/Police stations.geojson");
        let mymap = L.map('mapid').setView([-34, 19], 9);
        let toggleShopsLayer = false;
        let togglePoliceLayer = false;
        let togglePoolsLayer = false;
        let toggleRecHubsLayer = false;
        let toggleSportsGroundsLayer = false;
        let toggleAbductionsLayer = false;
        let toggleSexualCrimeLayer = false;
        let toggleRobberiesLayer = false;
        let toggleCrimeRateLayer = false;
        let toggleRapeLayer = false;
        //let toggleAllCrimeLayer = false;
        

        let shopIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/shopping-center.png',
            iconSize: [74, 64],
            iconAnchor: [34, 64]
        });

        let shop = L.geoJSON(shops, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: shopIcon
                }); //add popups when clicking on shop icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup('This is a shopping centre')
            }
        });

        //styling police stations
        let polIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/police-station.png',
            iconSize: [64, 54],
            iconAnchor: [34, 54]
        });
        let Stations = L.geoJSON(policePoints, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: polIcon
                });//add popups when clicking on shop icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup('This is a Police Station')
            }
        });

        //styling pools
        let swim = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/beach-ball.png',
            iconSize: [54, 54],
            iconAnchor: [34, 54]
        });

        let pools = L.geoJSON(swimmingPools, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: swim
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.NAME + " community swimming pool")
            }

        }); //.addTo(mymap);

        //Style recreational hubs
        let recIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/market.png',
            iconSize: [54, 64],
            iconAnchor: [34, 64]
        });

        let recreationHubs = L.geoJSON(recHubs, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: recIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.NAME) 
            }

        });//.addTo(mymap);

        //style sports grounds
        let sportsIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/soccer-ball.png',
            iconSize: [44, 54],
            iconAnchor: [24, 54]
        });

        let sportsGrounds = L.geoJSON(grounds, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: sportsIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.NAME)
            }

        });//.addTo(mymap);

        //style abductions
        let abdIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/abductions.png',
            iconSize: [44, 44],
            iconAnchor: [24, 44]
        });

        let abdctions = L.geoJSON(abductions, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: abdIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Offence: " + feature.properties.Offence + " Date: " + feature.properties.Day + "/" + feature.properties.Month + "/" + feature.properties.Year + " Time: " + feature.properties.Hour + ":00")
            }
        });

        //style sexual points
        let SexualCrimeIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/sexual assault.png',
            iconSize: [44, 44],
            iconAnchor: [24, 44]
        });

       let sCrimePoints = L.geoJSON(SexualCrimePoints, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: SexualCrimeIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Offence: " + feature.properties.Offence + " Date: " + feature.properties.Day + "/" + feature.properties.Month + "/" + feature.properties.Year + " Time: " + feature.properties.Hour + ":00")
            }

        })

        //style robbery points
        let robberiesIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/robberies.png',
            iconSize: [44, 44],
            iconAnchor: [24, 44]
        });

       let robberies = L.geoJSON(robberyPoints, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: robberiesIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Offence: " + feature.properties.Offence + " Date: " + feature.properties.Day + "/" + feature.properties.Month + "/" + feature.properties.Year + " Time: " + feature.properties.Hour + ":00")
            }

        })

        //style rape points
        let rapeIcon = L.icon({
            iconUrl: '../../gbv-lifeline/src/assets/images/rape.png',
            iconSize: [44, 44],
            iconAnchor: [24, 44]
        });

       let rapeCrime = L.geoJSON(rapePoints, {
            pointToLayer: function (geoJsonPoint, latlng) {
                return L.marker(latlng, {
                    icon: rapeIcon
                });//add popups when clicking on pool icon
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Offence: " + feature.properties.Offence + " Date: " + feature.properties.Day + "/" + feature.properties.Month + "/" + feature.properties.Year + " Time: " + feature.properties.Hour + ":00")
            }

        })

         //styling all crime points
    //     let allcrimeIcon = L.icon({
    //         iconUrl: '../../gbv-lifeline/src/assets/images/redallcrime.png',
    //         iconSize: [44, 44],
    //         iconAnchor: [24, 44]
    //     });

    //    let allCrime = L.geoJSON(allCrimePoints, {
    //         pointToLayer: function (geoJsonPoint, latlng) {
    //             return L.marker(latlng, {
    //                 icon: allcrimeIcon
    //             });//add popups when clicking on pool icon
    //         },
    //         onEachFeature: function (feature, layer) {
    //             layer.bindPopup("Offence: " + feature.properties.Offence + " Date: " + feature.properties.Day + "/" + feature.properties.Month + "/" + feature.properties.Year + " Time: " + feature.properties.Hour + ":00")
    //         }

    //     })
 
         
        //styling the CrimeRate layer
        let layer_IMD = L.choropleth(crimeRate, {
            valueProperty: 'Ass_Rate', //which column it is using
            scale: ['red', 'orange', 'yellow'],
            style: {
                color: '#111111', // border color
                weight: 1,
                fillOpacity: 0.5,
                fillColor: '#ffffff'
            }
        }) 

       
        


        //adding base layers/tiles
        // create a street map standard layer and add it to the map, making it the default basemap
        let streets = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);

        // stamen toner OSM layer
        let stamen = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png').addTo(mymap);

        //CartoDB layer
        let CartoDB_DarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png').addTo(mymap);

        //Thunderforest layer
        let Hydda_Full = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png').addTo(mymap);

        //MCartoDB layer2
        let CartoDB_Positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png').addTo(mymap);


        // create a satellite imagery layer
        let satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');

        // create an object to hold layer names as you want them to appear in the basemap switcher list
        let basemapControl = {
            "OSM Streets": streets,
            " ESRI Satellite": satellite,
            "Hydda Layer": Hydda_Full,
            "Stamen toner": stamen,
            "DarkMatter": CartoDB_DarkMatter,
            "Positron": CartoDB_Positron,
        }

        // display the control (switcher list) on the map, by default in the top right corner
        L.control.layers(basemapControl).addTo(mymap);

        //drop down 


        //Toggle shops function
        function toggleShop() {
            console.log('I am inside')

            toggleShopsLayer = !toggleShopsLayer;
            if (toggleShopsLayer) {
                console.log('I am inside my if statement')
                shop.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(shop);
            }
        };

        //Toggle police stations function
        function togglePolice() {
            togglePoliceLayer = !togglePoliceLayer;
            if (togglePoliceLayer) {
                console.log('I am inside my if statement')
                Stations.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(Stations);
            }
        };


        //Toggle swimming pools
        function togglePools() {
            togglePoolsLayer = !togglePoolsLayer;
            if (togglePoolsLayer) {
                console.log('I am inside my if statement')
                pools.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(pools);
            }
        };

        //Toggle recreational hubs
        function toggleRecHubs() {
            toggleRecHubsLayer = !toggleRecHubsLayer;
            if (toggleRecHubsLayer) {
                console.log('I am inside my if statement')
                recreationHubs.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(recreationHubs)
            }
        };

        //Toggle sports grounds
        function toggleSportsGrounds() {
            toggleSportsGroundsLayer = !toggleSportsGroundsLayer;
            if (toggleSportsGroundsLayer) {
                console.log('I am inside my if statement')
                sportsGrounds.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(sportsGrounds)
            }
        };

        //Toggle abductions layer 
        function toggleAbductions() {
            toggleAbductionsLayer = !toggleAbductionsLayer;
            if (toggleAbductionsLayer) {
                console.log('I am inside my if statement')
                abdctions.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(abdctions)
            }
        };
        

        // toggle sexual crime layer
        function toggleSexualCrime() {
            toggleSexualCrimeLayer = !toggleSexualCrimeLayer ;
            if (toggleSexualCrimeLayer ) {
                console.log('I am inside my if statement')
                sCrimePoints.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(sCrimePoints)
            }
        };
        
        //toggle robberies points
        function toggleRobberies(){
            toggleRobberiesLayer = !toggleRobberiesLayer ;
            if (toggleRobberiesLayer ) {
                console.log('I am inside my if statement')
                robberies.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(robberies)
            }

        };

        //toggle rape
        function toggleRape(){
            toggleRapeLayer = !toggleRapeLayer;
            if (toggleRapeLayer) {
                console.log('I am inside my if statement')
                rapeCrime.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(rapeCrime)
            }
        };

       
        //toggle all crime
        // function toggleAllCrime(){
        //     toggleAllCrimeLayer = !toggleAllCrimeLayer ;
        //     if (toggleAllCrimeLayer) {
        //         console.log('I am inside my if statement')
        //         allCrime.addTo(mymap);
        //     } else {
        //         console.log('I am inside my else statement')
        //         mymap.removeLayer(allCrime)
        //     }
        // };

      
        // toggle crime rate layer (Qunatile Map) add crime rate pop up to crime rate layer
        function toggleCrimeRate()
        {
            toggleCrimeRateLayer = !toggleCrimeRateLayer ;
            if (toggleCrimeRateLayer) {
                console.log('I am inside my if statement')
                layer_IMD.addTo(mymap);
            } else {
                console.log('I am inside my else statement')
                mymap.removeLayer(layer_IMD)
            }

        };

        


    </script>

</body>

</html>